.quantiter{
    border: 1px solid #5D46DC;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    padding: 0px 10px;
    outline: none ;
}
.valider{
    width: 70px;
    height: 30px;
    background: #5D46DC;
    border-radius: 5px;
    margin-left: 20px;
    color: white;
    border: none;
}